
img{
    width: 100%;
    height: 250px;
}

.store-top{
    width: 100%;
    height: 70px;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.store-name{
    font-size: 40px;
}

.store-heart{
    font-size: 40px;
}

.store-location{
    width: 100%;
    height: 350px;
	margin-bottom: 10px;
}

.store-address{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.store-number{
    width: 100%;
    height: 30px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.store-info{
    border-bottom: 1px solid black;
}

.review-top{
    width: 100%;
    height: 50px;
}

.user-review{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.store-review .comment_container h2 {color:#303030;border-bottom:1px solid #252525;padding-bottom:10px;}
.store-review .comment_container .comment_input input .input-group-text {width:78%;height:40px;border:1px solid #e0e0e0;float:left;margin-top:10px}
.store-review .comment_container .comment_input input .btn btn-secondary {width:20%;float:right;height:40px;margin-top:10px;}

.store-review .comment_container .comment_box {width:90%;overflow:hidden;padding:10px;border:1px solid #e0e0e0;border-radius:1px;margin:10px 0;}
.store-review .comment_box h5 {font-size:14px;font-weight:600;padding-bottom:10px;}
.store-review .comment_box p {font-size:13px;font-weight:thin;padding-bottom:10px;}
.store-review .comment_box span {font-size:12px;float:right;}