.join_list label {
	
	font-weight:bold;

	}



body {
   width:90%;
   background:#e6e6e6;
   margin:0 auto;
}

#page-wrapper {
   background-color:white;
   margin:40px 0px;
   border-radius:5px;
   box-shadow:0 2px 6px #000;padding:10px 20px;
}

.join_list input {
	border: gray 2px solid;
}

header{
	
	padding-bottom:50px;

}

div {
	padding-top:5px;
}